<%- include partials/header %>
<% include partials/nav %>

<br>
<div class="container border-wait-ct col-xs-8  col-xs-offset-2"> 
	<h3 class="well well-sm"><%= title %></h3>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Pika kufitare</th>
				<th>Hyrje min minuta </th>
				<th>Hyrje max minuta</th>
				<th>Dalje min minuta </th>
				<th>Dalje max minuta</th>
				<th>Hyrje min metra</th>
				<th>Hyrje max metra</th>
				<th>Dalje min metra</th>
				<th>Dalje max metra</th>
				<th>Edit </th>
				<th>View_statistics</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<% for (var i=0;i<docs.length;i++) { %>
			<tr> 
				<td><%= docs[i].pika_kufitare %></td>
				<td><%= docs[i].hyrja_min_minuta %></td>
				<td><%= docs[i].hyrja_max_minuta %></td>
				<td><%= docs[i].dalja_min_minuta %></td>
				<td><%= docs[i].dalja_max_minuta %></td>
				<td><%= docs[i].hyrja_min_metra %></td>
				<td><%= docs[i].hyrja_max_metra %></td>
				<td><%= docs[i].dalja_min_metra %></td>
				<td><%= docs[i].dalja_max_metra %></td>
				<td><a href="/edit/<%= docs[i]._id.toString() %>">  Edit </td>	
					<td><a href="/chart/<%= docs[i]._id.toString() %>">View statistics </td>
						<td> <a href="/delete/<%= docs[i]._id.toString() %>">  Delete </td>
						</tr> <% } %>
					</tbody>
				</table>
			</div>
			<% include partials/footer %>